File uploaded to you!<br>
File ID = {{secure_upload.id}} <br>
{% if secure_upload.files_url %}
To see files click: {{secure_upload.files_url}}
{% endif %}
<br>
<i>You can override <b>templates/secup/email_uploaded.html</b> to create your own mail template and remove this text.</i>
