New file uploaded for non exists staff user!<br>
File ID = {{secure_upload.id}}<br>
<i>You can override <b>templates/secup/email_managers.html</b> to create your own mail template and remove this text.</i>
