File upload request created for you!<br>
Click <a href="{{secure_upload.upload_url}}">here</a> to upload.
<br>
<i>You can override <b>templates/secup/email_invited.html</b> to create your own mail template and remove this text.</i>
