{% extends 'secup/base.html' %}
{% block content %}

Invite to upload:<br>
<form method="POST">
	{% csrf_token %}
	<input type="text" name="email" placeholder="E-mail">
	<br>
	<input type="checkbox" name="get_or_create_user" value="True">Get or create django user from email
	<br>
	<input type="submit">
</form>
{% endblock %}